affine==2.3.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
bokeh @ file:///D:/bld/bokeh_1625757104898/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1631665262506/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1631656671559/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1631636425438/work
cftime @ file:///D:/bld/cftime_1621553914127/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1622246659049/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
cryptography @ file:///D:/bld/cryptography_1616851649655/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1630711077912/work
datacube @ file:///home/conda/feedstock_root/build_artifacts/datacube_1629250885499/work
distributed @ file:///D:/bld/distributed_1630719174113/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1630424910447/work
greenlet @ file:///D:/bld/greenlet_1628272304925/work
HeapDict==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1630267647146/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
kiwisolver @ file:///D:/bld/kiwisolver_1630173896207/work
lark-parser @ file:///home/conda/feedstock_root/build_artifacts/lark-parser_1630320752939/work
locket==0.2.0
MarkupSafe @ file:///D:/bld/markupsafe_1621455847127/work
matplotlib @ file:///D:/bld/matplotlib-suite_1628881903140/work
msgpack @ file:///D:/bld/msgpack-python_1610121836457/work
netCDF4 @ file:///D:/bld/netcdf4_1630453197601/work
numpy @ file:///D:/bld/numpy_1629092230867/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///D:/bld/pandas_1631466259165/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
Pillow @ file:///D:/bld/pillow_1630696805646/work
psutil @ file:///D:/bld/psutil_1610127325750/work
psycopg2 @ file:///D:/bld/psycopg2-split_1623910109981/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1630728978659/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///D:/bld/pyrsistent_1610147004705/work
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
rasterio==1.2.8
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1626384238958/work
Shapely==1.7.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snuggs==1.4.7
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1629315096852/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1610094858390/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1627311788418/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
